/* Experiencia Académica */

/* Estilos generales */
section.academic {
  background-color: #eaf2fd;
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.academic__courses {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

.academic__courses__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre elementos */
}

.academic__courses__item__container {
  background-color: #ffffff; /* Color de fondo de la caja */
  padding: 20px; /* Espacio interno de la caja */
  text-align: center; /* Centrar texto horizontalmente */
}

.academic__courses__item__img {
  width: 100%; /* La imagen ocupa todo el ancho de la caja */
}

.academic__courses__item__description {
  margin-top: 10px; /* Espacio entre imagen y texto */
}

/* Estilos para tablet */
@media screen and (max-width: 768px) {
  section.academic {
    width: 100vw;
  }

  .academic__courses__item__img {
    padding: 40px 40px;
  }
}

/* Estilos para móvil */
@media screen and (max-width: 425px) {
  .academic__title {
    font-size: 1.2rem;
  }

  .academic__courses {
    flex-direction: column;
    align-items: center;
  }

  .academic__courses__list {
    padding-left: 0;
  }

  .academic__courses__item__img {
    padding: 20px;
    width: 80%; /* Ajusta el tamaño de la imagen según sea necesario */
  }
}
