/* experiencia */

section.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 80vw;
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.experience__box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 64px;
  gap: 16px;
  width: 100%; /* Ajusta el ancho para ocupar toda la sección */
}

.experiencie__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 64px;
  gap: 16px;
  width: 100%; /* Ajusta el ancho para ocupar toda la sección */
}

.experience__img {
  width: 50%; /* O ajusta según tus necesidades */
  max-width: 50%; /* Ajusta el ancho máximo de la imagen */
  margin: auto;
}

.experience__info-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  width: 100%; /* Ajusta el ancho para ocupar todo el espacio restante */
}

.experience__repo,
.experience__demo {
  padding: 16px;
  
  text-align: center; /* Centra el texto horizontalmente */
}

.experience__botao--demo {
  background: #2a7ae4; /* Color de fondo azul */
  color: #ffffff; /* Color del texto blanco */
  border: 2px solid #2a7ae4; /* Borde azul */
  border-radius: 5px; /* Bordes redondeados */
  padding: 12px 24px; /* Relleno para hacer el botón más grande */
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.2; /* Altura de línea */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.experience__botao--demo:hover {
  background-color: #1d5ca3; /* Cambia el color de fondo al pasar el mouse */
}


.experiencia__botao--repo {
  color: #2a7ae4; /* Color del texto azul */
  background: transparent; /* Fondo transparente */
  border: 2px solid #2a7ae4; /* Borde azul */
  border-radius: 5px; /* Bordes redondeados */
  padding: 12px 24px; /* Relleno para hacer el botón más grande */
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.2; /* Altura de línea */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.experiencia__botao--repo:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}


/* Tablet */
@media screen and (max-width: 768px) {
  section.experience {
    width: 90vw;
    height: 55vh;
  }

  .experience__section__title {
    font-size: 1.3rem;
  }

  .experience__box,
  .experiencie__box {
    display: flex;
    flex-wrap: wrap;
  }

  .experience__img {
    width: 90vw;
    margin: auto;
  }

  .experience__botao--repo,
  .experience__botao--demo {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  section.experience {
    height: 45vh;
  }

  .experience_section_title {
    font-size: 1.2rem;
  }

  .experience__box,
  .experiencie__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .experience__img {
    width: 80%;
    max-width: 80%;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
  }

  .experience__info-container {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .experience__title {
    font-size: 1rem;
  }

  .experience__text {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }

  .experience__botao--repo,
  .experience__botao--demo {
    width: auto; /* Ancho automático para ajustarse al contenido */
    font-size: 1rem; /* Ajusta el tamaño de fuente de los botones */
    margin: 10px; /* Ajusta el margen entre los botones */
  }
}
