/* experiencia*/

section.experience {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 1228.8px;
  align-items: center;
}

.experience__box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 64px;
  gap: 16px;
}

.experiencie__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 64px;
  gap: 16px;
}

.experience__img {
  width: 921.6px;
}

.experience__info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.experience__info-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.experience__description {
  font-size: 0.8em;
}

.experience__repo {
  padding: 16px;
  border: 1px solid #2a7ae4;
}

.experience__demo {
  padding: 16px;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
}
.experience__botao--demo {
  background: #2a7ae4;
  color: #ffffff;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.experiencia__botao--repo {
  color: #2a7ae4;
  background: transparent;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.experience__box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 64px;
  gap: 16px;
}

/*Tablet*/
/* @media (min-width: 768px) { */
@media screen and (max-width: 768px) {
  /*Experiencia Profesional*/

  section.experience {
    width: 1382.4px;
    height: 410.3px;
  }

  .experience__section__title {
    font-size: 20px;
  }

  .experience__box {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .experiencie__box {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }

  .experience__img {
    width: 600px;
  }

  .experiencia__botao--repo,
  .experience__botao--demo {
    width: 120px;
    font-size: 19.2px;
  }
}

/*Mobile*/
@media screen and (max-width: 425px) {
  /*Experiencia Profesional*/

  section.experience {
    height: 335.7px;
  }

  .experience__section__title {
    font-size: 19.2px;
  }

  .experience__box {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .experiencie__box {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }

  .experience__img {
    width:300px;
  } 

  .experience__title {
    font-size: 16px;
  }

  .experience__text {
    font-size: 12px;
  }

  .experiencia__botao--repo,
  .experience__botao--demo {
    width: 100px;
    font-size: 10px;
    
  }
}
