/* Sección del Menú */
section.menu {
  width: 100%; /* Cambiamos el ancho al 100% para que ocupe todo el espacio disponible */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a7ae4;
  color: white;
  padding: 2px 5px; /* Reducimos el relleno para reducir el grosor del menú */
}

header.menu__header {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.menu__icono {
  height: 20px;
  width: 50px;
  border-radius: 50%;
  margin-left: 2rem;
}

.menu__title {
  margin-left: 2rem;
}

.menu__list {
  display: flex;
  align-items: center; /* Alineamos verticalmente los elementos */
}

.menu__list__item {
  margin-left: 20px; /* Añadimos espacio entre los elementos */
}

.menu__list__item:last-child {
  margin-right: 3rem; /* Agrega un margen a la derecha del último elemento (correo electrónico) */
}

.menu__list__item:nth-last-child(2) {
  margin-right: 20px; /* Deja espacio entre el penúltimo elemento (Proyectos) y el último elemento (correo electrónico) */
}

.menu__list__item:hover {
  background-color: rgb(255, 77, 0); /* Cambia el fondo completo cuando se hace hover */
}

.menu__list__item a {
  color: white;
  text-decoration: none;
}

.menu__list__item__contato {
  color: white;
}

/* Tablet */
@media screen and (max-width: 768px) {
  /* Menú */
  section.menu {
    width: 90%; /* Ajustamos el ancho para dispositivos de pantalla mediana */
  }

  .menu__list__item {
    display: none;
  }

  .email {
    display: contents;
  }
}

/* Móvil */
@media screen and (max-width: 425px) {
  /* Menú */
  .menu__icono {
    height: 15px;
  }

  .menu__title {
    font-size: 0.8rem;
  }

  .menu__list__item {
    font-size: 0.7rem;
  }
}
