/* Sección Skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  margin-top: 2rem;
}

.skills__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.skills__line {
  display: flex;
  flex-wrap: wrap; /* Permitir que las cajas se envuelvan cuando no haya suficiente espacio */
  justify-content: center; /* Centrar los elementos horizontalmente */
}

.skills__box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontal y verticalmente */
  width: 150px; /* Ancho fijo para las cajas */
  margin: 0.5rem;
  background-color: white; /* Fondo blanco para las cajas */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.skills__box:hover {
  background-color: #eaf2fd;
}

.skills__box ul {
  padding-inline-start: 0;
}

.skills__img img {
  width: 40px; /* Tamaño fijo para el ancho de las imágenes */
  height: 50px; /* Tamaño fijo para la altura de las imágenes */
}


.skills__name {
  text-align: center; /* Alinear el texto en el centro */
  margin-top: 0.5rem; /* Espacio superior */
  margin-bottom: 0.5rem; /* Espacio inferior */
}

/* Estilos para tabletas */
@media screen and (max-width: 768px) {
  .skills__box {
    width: 120px; /* Reducir el ancho de las cajas en tabletas */
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 425px) {
  .skills__box {
    width: 80vw; /* Ancho máximo para que se ajusten en dispositivos móviles */
  }
}
